<!-- <div class="board">
    <div *ngFor="let row of board; let rowIndex = index" class="row">
      <div *ngFor="let cell of row; let colIndex = index" class="cell" [ngClass]="getCellClass(rowIndex, colIndex)" (click)="revealCell(rowIndex, colIndex)">
      
        <img *ngIf="!cell.isCovered" [src]="getCellImage(cell.type)" alt="{{ cell.type }}" class="cell-image" />
        <img *ngIf="!cell.isCovered && rowIndex === playerPosition.row && colIndex === playerPosition.col" src="assets/player.png" alt="Player" class="player-image" />
      </div>
    </div>
  </div> -->
  <div class="board">
    <div *ngFor="let row of board; let rowIndex = index" class="row">
      <div *ngFor="let cell of row; let colIndex = index" class="cell" [ngClass]="getCellClass(rowIndex, colIndex)" (click)="revealCell(rowIndex, colIndex)">
        <!-- Bottom Layer: Represent pits, Wumpus, empty cells, and treasure -->
        <img *ngIf="!cell.isCovered" [src]="getCellImage(cell.type)" alt="{{ cell.type }}" class="cell-image" />
        <!-- Middle Layer: Represent bricks -->
        <img *ngIf="cell.isCovered" src="assets/brick.png" alt="Brick" class="cell-image" />
        <!-- Top Layer: Represent the player (only on the clicked cell) -->
        <img *ngIf="rowIndex === playerPosition.row && colIndex === playerPosition.col" src="assets/player.png" alt="Player" class="player-image" />
        <img *ngIf="cell.hasBreeze" src="assets/breeze.png" alt="Breeze" class="breeze-image" />
    </div>
    </div>
  </div>
  
  