<div class="game-container">
  <div class="left-side">
    <h2>Score: {{ player.point }}</h2>
    <h3>Total Treasure: {{ treasure }}</h3>
    <h3>Treasure left: {{ treasure_left }}</h3>
    <h3>Total Wumpus: {{ wumpus }}</h3>
    <h3>Total Pit: {{ pit }}</h3>
    
    <h3 [innerText]="player.hasArrow ? 'Arrow: 1' : 'Arrow: 0'"></h3>
  </div>

  <div class="board-container">
    <div class="board">
      <div *ngFor="let row of board; let rowIndex = index" class="row">
        <div *ngFor="let cell of row; let colIndex = index" class="cell"
          (click)="isBoardInteractive && revealCell(rowIndex, colIndex)">

          <div class="image-container">
            
            <img *ngIf="!cell.isHidden || (rowIndex === player.position.row && colIndex === player.position.col)"
              [src]="getCellImage(cell.type)" alt="{{ cell.type }}" class="cell-image overlay-image">
            <img *ngIf="cell.isHidden" src="assets/images/brick.png" alt="Brick" class="cell-image" />

            <img *ngIf="rowIndex === player.position.row && colIndex === player.position.col" src="assets/images/player.png"
              alt="Player" class="player-image overlay-image" />
          </div>
        </div>
      </div>
    </div>
    <div class="board board2" *ngIf="isAIMode">
      <div *ngFor="let row of board; let rowIndex = index" class="row">
        <div *ngFor="let cell of row; let colIndex = index" class="cell">
          <div class="image-container">
            <img
              [src]="getCellImage(cell.type)" alt="{{ cell.type }}" class="cell-image overlay-image">
          
            <img *ngIf="rowIndex === player.position.row && colIndex === player.position.col" src="assets/images/player.png"
              alt="Player" class="player-image overlay-image" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="start-buttons-container" *ngIf="!buttonsPressed">

    <button class="start-button" (click)="startAsHuman()">Start as Human</button>
    <button class="start-button" (click)="startAsAI()">Start as AI</button>
    <!-- <button class="shoot-button" (click)="revealBoard()">reveal board</button> -->
  </div>

  <div class="shoot-buttons-container" *ngIf="isHumanMode">
    <p>Shoot Arrow</p>
    <button class="shoot-button" (click)="AIshootArrow(player.position.row - 1, player.position.col)">Left</button>
    <button class="shoot-button" (click)="AIshootArrow(player.position.row + 1, player.position.col)">Right</button>
    <button class="shoot-button" (click)="AIshootArrow(player.position.row, player.position.col + 1)">Down</button>
    <button class="shoot-button" (click)="AIshootArrow(player.position.row, player.position.col - 1)">Up</button>
  </div>

  <div class="game-controls" *ngIf="isPauseButtonVisible">
    <button (click)="togglePause()" [disabled]="isGamePaused">Pause</button>
    <button (click)="togglePause()" [disabled]="!isGamePaused">Resume</button>
  </div>
</div>