<div class="container">
  <h1>Game Settings</h1>
  <div class="row">
    <div class="col">
      <!-- Column 1 -->
      <h3 id="wumpus">Wumpus</h3>
      <div class="gameGrid">
        <input type="range" min="1" max="5" value="1" class="slider" id="gridRange" (input)="wumpus($event)" />
        <h2 id="gridSize">{{ sliderWumpus }}</h2>
      </div>
    </div>
    <div class="col">
      <!-- Column 2 -->
      <h3 id="gold">Gold</h3>
      <div class="gameGrid">
        <input type="range" min="1" max="5" value="1" class="slider" id="gridRange" (input)="gold($event)" />
        <h2 id="gridSize">{{ sliderGold }}</h2>
      </div>
    </div>
    <div class="col">
      <!-- Column 3 -->
      <h3 id="pits">Pits</h3>
      <div class="gameGrid">
        <input type="range" min="2" max="6" value="5" class="slider" id="gridRange" (input)="pits($event)" />
        <h2 id="gridSize">{{ sliderPit }}</h2>
      </div>
    </div>
  </div>
<div class="container2">
  <div class="custom">
    <h5 class="custom-subtitle">Or</h5>
    <h2 class="custom-title">Enter Your Custom Board</h2>
    <div class="mb-3 file-input">
      <!-- <label for="formFileSm" class="file-label">Upload Custom Board:</label> -->
      <input class="form-control form-control-sm" id="formFileSm" type="file" (change)="onChange($event)">
    </div>
  </div>
  <div class="start">
    <button class="button-start" (click)="startGame()">
      <h2 id="start">START</h2>
    </button>
  </div>
</div>
